{% extends "layout.html" %}



{% block content %}


<body>
    <div class="image-container">
        <img src="static/images/meat1.jpg" alt="background image" class="image">
        <div class="img-text">
            <h2> Your Trusted Destination for Premium Quality Meats.</h2>
            <br>
            <p>At MeatShop, we pride ourselves on providing personalized service. Our knowledgeable staff is here to
                assist you in selecting the perfect cuts, offering cooking tips, and ensuring your dining experience is
                nothing short of exceptional.</p>
            <a href="/product">
                <button type="button" class="btn btn-primary btn-lg"
                    style="color:brown; background-color:orange; border-radius: 40px;">Explore Available
                    Products</button>
            </a>
        </div>
    </div>


    <!-- Meat Cards -->
    <div class="container">
        <div class="row mt-4 card-container">
            <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                <div class="card h-100">
                    <img class="card-img" src="static/images/meat1.jpg" alt="Meat Image">
                    <div class="card-body">
                        <h5 class="card-title">Beef</h5>
                        <h6 class="card-subtitle mb-2 text-muted">steak meat</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At autem, ab,
                            dicta officia porro cumque omnis corporis dolorem quos quae molestias. Dolor cum culpa
                            nesciunt sapiente incidunt delectus amet. Hic.</p>
                        <p class="card-text"><strong>Price:</strong> Kshs.740</p>
                        <a href="" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                <div class="card h-100">
                    <img class="card-img" src="static/images/meat1.jpg" alt="Meat Image">
                    <div class="card-body">
                        <h5 class="card-title">Beef</h5>
                        <h6 class="card-subtitle mb-2 text-muted">steak meat</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At autem, ab,
                            dicta officia porro cumque omnis corporis dolorem quos quae molestias. Dolor cum culpa
                            nesciunt sapiente incidunt delectus amet. Hic.</p>
                        <p class="card-text"><strong>Price:</strong> Kshs.740</p>
                        <a href="" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                <div class="card h-100">
                    <img class="card-img" src="static/images/meat1.jpg" alt="Meat Image">
                    <div class="card-body">
                        <h5 class="card-title">Beef</h5>
                        <h6 class="card-subtitle mb-2 text-muted">steak meat</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At autem, ab,
                            dicta officia porro cumque omnis corporis dolorem quos quae molestias. Dolor cum culpa
                            nesciunt sapiente incidunt delectus amet. Hic.</p>
                        <p class="card-text"><strong>Price:</strong> Kshs.740</p>
                        <a href="" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <h2>MeatShop</h2>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nobis quae in id sit officia
            dignissimos
            doloribus,
            ullam, molestiae optio voluptatibus blanditiis. Quo ea minus dicta ex ipsam dolor laudantium
            consequuntur
            quam
            fugit
            similique neque eos, nihil reiciendis? Nihil, facilis. Officiis, quam optio iure labore et odit nisi
            nobis
            itaque,
            perferendis minus harum quia! Sunt aspernatur incidunt consequatur ad velit est repellendus? Non,
            eos quidem
            nam
            mollitia voluptate error, officia, atque eius esse aut delectus perspiciatis amet ipsam voluptas
            nemo
            similique
            itaque alias vel praesentium aliquam eum quisquam fuga. A consectetur nisi est eligendi aliquid?
            Quaerat ea,
            velit
            laudantium reprehenderit saepe voluptas labore ducimus voluptatibus harum et itaque. Blanditiis
            rerum, iusto
            voluptate nobis harum ipsa expedita dolorem laborum eveniet, cupiditate error eaque tempore? Et
            exercitationem
            assumenda voluptatibus at fugiat, saepe ex asperiores aut unde nobis ea eveniet ipsum deserunt
            facere quos
            sit
            voluptate quas beatae. Voluptates non vero sapiente esse laborum corrupti nulla aperiam eius totam
            reprehenderit
            numquam expedita unde pariatur, cupiditate officia laudantium quod dicta dignissimos autem deserunt
            nostrum
            ex
            velit? Iste quod cupiditate sed aperiam est nobis dolorum eius ullam incidunt, mollitia repellendus
            quaerat
            adipisci
            ipsa commodi, facilis sit, ea aliquid reiciendis deserunt quibusdam eaque? Tempore, quas modi.</p>
    </div>
</body>
{% endblock %}